html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
}
a{
    text-decoration:none;
    color: #065fd4;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.98);
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    height: 40px;
}
main{
    overflow: auto; /* ★진짜 중요★ */
    height: 100%;
}
.content{
    padding: 10px 15px;
}
.videoPlayer{   
    width:100%; 
    height:40%;
    position: sticky;   
    top:0px ;
    z-index: 10; 
}
.information{
    margin-top: 10px;
    margin-bottom: 10px;
}

.information > .tag{
    font-size: 12px;
    margin-bottom: 5px;
}
.information > .title{
    position: relative;
    font-size: 18px;
    display: flex; 
}
.information > .title>.name{
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1; 
    overflow: hidden;
}
.information > .title> .titleBtn{
    color: #606060;
}
.information > .viewCount{
    font-size: 14px;
    margin-bottom: 10px;
    color: #606060;
}
.information > .buttonList{
    padding: 0px;
    margin:12px 24px;
    display: flex;
    justify-content: space-between;
    list-style-type : none ;
    font-size: 24px;
}
.information > .buttonList > li > i {
    cursor: pointer;
    color: #606060;
    margin-bottom: 5px;
}  
.information > .buttonList > li > div{
    font-size: 12px;
    text-align:center
}   
.information > .userInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information > .userInfo > .userContent{
    display: flex;
}


.information > .userInfo > .userContent >.userImg{
    margin-right: 10px;
}

.information > .userInfo > .userContent > .user >.userName{
    font-size: 16px;
    margin-bottom: 5px;
}
.information > .userInfo > .userContent > .user > .subCount{
    font-size: 14px;
    color: #606060;
}
.information > .userInfo > div>.subBtn{
    background-color: #CC0000;
    width: 79px;
    height: 39px;
    border: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}
.otherContent{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.otherContent > .upNext{
    color: #606060;
    margin-bottom: 10px;
}
.otherContent > .playList {
    width: 100%;
}
.otherContent > .playList >.playlistItem{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.otherContent > .playList > .playlistItem > .playlistImg{ 
    margin-right: 10px;
}
.otherContent > .playList > .playlistItem > .playlistInfo
{ 
    margin-right: 10px;

}
.otherContent > .playList > .playlistItem > .playlistInfo> .infoTitle
{ 
    font-size: 14px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden;
    margin-bottom: 5px;
}

.otherContent > .playList > .playlistItem > .playlistInfo> .info
{ 
    font-size: 12px;
    color: #606060;
}

@media screen and (min-width:1024px) {
    .content{
        /* padding: 15px; */
        display: flex;
    }
    .information{
        margin: 15px;
        width: 50%;
    }
    .otherContent{
        margin: 15px;
        width: 50%;
    }
}





